body {
    background-color: white;
}

.main_title {
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    color: black;
    font-family: 'Helvetica';
}

.text_stuff {
    padding-top: 10px;
    padding-bottom: 35px;
    text-align: center;
    color: black;
    font-family: 'Helvetica';
}

img {
    display: block;
    margin: 0 auto;
    width: 25%;
    height: 25%;
    cursor: pointer;
}

.grid_container {
    height: 750px;
    width: 750px;
    background-color: linen;
    margin: 0 auto;
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    border: 1px solid black;
}

.tile {
    border: 1px solid black;
    cursor: url("../img/nought.png"), auto;
}

.nought {
    border: 1px solid black;
    background-image: url("../img/nought.png");
    background-color: linen;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
}

.cross {
    border: 1px solid black;
    background-image: url("../img/cross.png");
    background-color: linen;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.player_turn {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: black;
    font-family: 'Helvetica';
}

.reset_button {
    margin: 0 auto;
    display: grid;
    background-color: linen;
    border: 1px solid black;
    color: black;
    padding: 12px 32px;
    text-align: center;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.reset_button:hover {
    background-color: black;
    color: linen;
}